.bg {
    background-image: url("mad2.jpg");
    display: flex;
    background-size: 100%;
    flex-direction: column;
    background-repeat: no-repeat;

}

.contentHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.contentBody{
    display: flex;
    flex-direction: row;
}


.contentLeft{
    display: flex;
    flex-direction: column;
    text-decoration: black;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-around;
    white-space: nowrap;
    height: 300px;
}

.contentRight{
    font-size: 20px;
    padding: 30px;
    width: 40%;
    color: #747941;
}
.links{
    text-decoration: none;
    color: #747941;
    font-size: 20px;
    padding: 10px;
}