body{
    margin: 0px;
}

.bg {
    background-image: url("mad3.jpg");
    display: flex;
    background-size: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 0px;

}

.contentHeader{
    display: flex;
    flex-direction: row;
    max-height: 300px;
}
.contentBody{
    display: flex;
    flex-direction: row;
}


.contentLeft{
    display: flex;
    flex-direction: column;
    text-decoration: #8cbf81;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-around;
    font-family: Futura,sans-serif;
    font-weight: bold;
    white-space: nowrap;
    height: 300px;
}

.contentRight{
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 20px;
    padding: 30px;
    width: 45%;
    color: #717941;
    font-family: Futura, sans-serif;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    text-shadow: #768831 2px 2px;
}

.linksForText{
    text-decoration: none;
    color: #575733;
    font-size: 26px;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #aec95c;
    color: white;
    text-align: center;
}