<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
            <img src="redMadenHjørne.png" style="width:15%; height: auto;padding: 10px">

        <div>
            <img src="overskrift2.jpg" style="width:60%; height: auto; padding-top: 20px; padding-bottom: 30px; padding-left: 200px">
        </div>
    </div>
    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">Forside</a>
            <a href="/mereInfo" class="links">Mere info</a>
            <a href="/quiz" class="links">Quiz</a>
            <a href="/tipsOgTricks" class="links">Tips og tricks</a>
            <a href="/samarbejdsPartnere" class="links">Samarbejdspartnere</a>
            <a href="/links" class="links">Nyttige links</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 60px">Hvad er madspild</h>
            <h3>Hver dag bliver der smidt betydelige mængder mad ud i de danske husholdninger. Men det største madspild sker, inden maden bliver solgt til forbrugerne, dvs. i processen fra produktion til salg.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tellus tellus, posuere vitae purus a, molestie blandit magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In posuere nulla non est aliquam consectetur. Aenean vitae nisi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacus eros, eleifend sit amet elementum vel, pellentesque vel erat. Sed faucibus quis purus quis iaculis. Nulla cursus elementum mollis. Proin ultrices vel lectus ac bibendum.

                Suspendisse id orci eu sem varius dapibus non id orci. Suspendisse nec fermentum elit. Proin nisl ante, sagittis quis nibh nec, fringilla tempor elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed mollis lobortis rutrum. Pellentesque orci felis, blandit at mauris sed, mollis fermentum enim. Mauris eu ullamcorper augue, tincidunt fermentum nibh. Curabitur in bibendum turpis, quis posuere nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tellus tellus, posuere vitae purus a, molestie blandit magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In posuere nulla non est aliquam consectetur. Aenean vitae nisi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacus eros, eleifend sit amet elementum vel, pellentesque vel erat. Sed faucibus quis purus quis iaculis. Nulla cursus elementum mollis. Proin ultrices vel lectus ac bibendum.

                Suspendisse id orci eu sem varius dapibus non id orci. Suspendisse nec fermentum elit. Proin nisl ante, sagittis quis nibh nec, fringilla tempor elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed mollis lobortis rutrum. Pellentesque orci felis, blandit at mauris sed, mollis fermentum enim. Mauris eu ullamcorper augue, tincidunt fermentum nibh. Curabitur in bibendum turpis, quis posuere nisl.</p>

        </div>




    </div>
    <div class="footer">
        <p>Footer</p>
    </div>

</div>

</body>
</html>