<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <div style="width: 20%; padding: 30px 50px 30px 50px">
            <img src="RM topLeftLogo.png" style="height: 100%; width: 100%; object-fit: contain">
        </div>
        <div style="width: 80%; padding: 60px 50px 60px 30px">
            <img src="RM topHeader.jpeg" style="height: 100%; width: 100%; object-fit: contain">
        </div>
    </div>

    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">FORSIDE</a>
            <a href="/mereInfo" class="links">MERE INFO</a>
            <a href="/quiz" class="links">QUIZ</a>
            <a href="/tipsOgTricks" class="links">TIPS</a>
            <a href="/samarbejdsPartnere" class="links">PARTNERE</a>
            <a href="/links" class="links">NYTTIGE LINKS</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 60px">Red madens koncept</h>
            <h3>Madspild er et enormt problem i Danmark, hvor særligt de danske husholdninger er slemme, men også globalt.
                <br><br>Vi ønsker at informere, vej- og retlede den gennemsnitlige dansker om mængder af madspild i et interaktivt, underholdende og visuelt interessant omfang. Vi vil give brugerne mulighed for at læse op på information om madspild,<br> linke til relevante kilder samt quizze forbrugeren i hvordan de kan være med til at mindske dette.
                <br><br>Klik igennem vores side og bliv klogere på danskernes vaner i forhold til madspild.
            </h3>
            </div>




    </div>
    <footer>

    </footer>

</div>

</body>
</html>