<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nyttige links</title>
    <link rel="stylesheet" href="../static/Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <div style="width: 20%; padding: 30px 50px 30px 50px">
            <img src="../static/RM%20topLeftLogo.png" style="height: 100%; width: 100%; object-fit: contain">
        </div>
        <div style="width: 80%; padding: 60px 50px 60px 30px">
            <img src="../static/RM%20TopHeader.jpeg" style="height: 100%; width: 100%; object-fit: contain">
        </div>
    </div>

    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">FORSIDE</a>
            <a href="/mereInfo" class="links">MERE INFO</a>
            <a href="/quiz" class="links">QUIZ</a>
            <a href="/tipsOgTricks" class="links">TIPS</a>
            <a href="/samarbejdsPartnere" class="links">PARTNERE</a>
            <a href="/links" class="links">NYTTIGE LINKS</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 60px">Nyttige links</h>
            <h2>Hvis du vil vide mere om hvordan man bekæmper madspild eller hvis du vil læse mere om hvad andre gør i kampen mod madspild, kan du klikke på følgende links</h2>
            <p> I nedenstående  link skriver Rema1000 om kampen mod madspild og hvad de gør for at hjælpe:</p>
            <a href="https://madspild.rema1000.dk/" class="linksForText">Madspild Rema1000</a>
            <br><br><br>
            <p>Læs omkring Danmarks største bevægelse mod madspild:</p>
            <a href="https://stopspildafmad.org/" class="linksForText">Stop Spild Af Mad</a>
            <br><br><br>
            <p>Ministeriet for Fødevarer, Landbrug og Fiskeri skrive her lidt om deres syn på madspild:</p>
            <a href="https://mfvm.dk/fileadmin/user_upload/FVM.dk/Dokumenter/Landbrug/Indsatser/Madspild/Faktaark/Faktaark_Madspild-i-Danmark_-juni-2011.pdf" class="linksForText">Madspild i Danmark</a>
            <br><br><br>
            <p>Okologisk-supermarked.dk er en virksomhed som indsamler varer som enten er overskredet "mindst holdbar til" eller snart gør og sælger dem billigt til forbrugere:</p>
            <a href="https://www.okologisk-supermarked.dk/shop/frontpage.html" class="linksForText">Okologisk-supermarked</a>
        </div>




    </div>
    <footer>

    </footer>

</div>

</body>
</html>