<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nyttige links </title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <img src="redMadenHjørne.png" style="width:15%; height: auto;padding: 10px">

        <div>
            <img src="overskrift2.jpg" style="width:60%; height: auto; padding-top: 20px; padding-bottom: 30px; padding-left: 200px">
        </div>
    </div>
    <div class="contentBody">
        <div class="contentLeft">
            <a href="google.com" class="links">Forside</a>
            <a href="google.com" class="links">Mere info</a>
            <a href="google.com" class="links">Quiz</a>
            <a href="google.com" class="links">Tips og tricks</a>
            <a href="google.com" class="links">Samarbejdspartnere</a>
            <a href="google.com" class="links">Nyttige links</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 40px">Nyttige links</h>
            <p>Hvis du vil vide mere om hvordan man bekæmper madspild eller hvis du vil læse mere om hvad andre gør i kampen mod madspild, kan du klikke på følgende links:</p>
            <br>
            <a href="https://madspild.rema1000.dk/" class="links">Madspild Rema1000</a>
            <p> I ovenstående link skriver Rema1000 om kampen mod madspild og hvad de gør for at hjælpe</p>
            <br>
            <a href="https://stopspildafmad.org/" class="links">Stop Spild Af Mad</a>
            <p>Læs omkring Danmarks største bevægelse mod madspild</p>
            <br>
            <a href="google.com" class="links">Madspild i Danmark</a>
            <p>Mnisteriet for Fædevarer, Landbrug og Fiskeri</p>
            <a href="/tips" class="links">Tips og tricks</a>
            <a href="google.com" class="links">Samarbejdspartnere</a>
            <a href="google.com" class="links">Nyttige links</a>
        </div>




    </div>
    <footer>
        <p>test</p>
    </footer>

</div>

</body>
</html>