<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="../static/Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <div style="width: 20%; padding: 30px 50px 30px 50px">
            <img src="../static/RM%20topLeftLogo.png" style="height: 100%; width: 100%; object-fit: contain">
        </div>
        <div style="width: 80%; padding: 60px 50px 60px 30px">
            <img src="../static/RM%20TopHeader.jpeg" style="height: 100%; width: 100%; object-fit: contain">
        </div>
    </div>

    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">FORSIDE</a>
            <a href="/mereInfo" class="links">MERE INFO</a>
            <a href="/quiz" class="links">QUIZ</a>
            <a href="/tipsOgTricks" class="links">TIPS</a>
            <a href="/samarbejdsPartnere" class="links">PARTNERE</a>
            <a href="/links" class="links">NYTTIGE LINKS</a>
        </div>
        <div class="contentRight">
            <h2>Tag vores quiz omkring madsortering. Den er udviklet i sammarbejde med Politiken, som udlover et gavekort til en heldig vinder, der kan svare rigtigt på alle 10 spørgsmål.</h2>
            <iframe src="https://politiken.leadfamly.com/affaldssortering-2021-09?iframe=dontbreakout" style="border:none;width:100%;height:1000px;" allow="autoplay; fullscreen"></iframe>
        </div>




    </div>
    <footer>

    </footer>

</div>

</body>
</html>