<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Samarbejdspartnere</title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <img src="redMadenHjørne.png" style="width:15%; height: auto;padding: 10px">

        <div>
            <img src="overskrift2.jpg" style="width:60%; height: auto; padding-top: 20px; padding-bottom: 30px; padding-left: 200px">
        </div>
    </div>
    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">Forside</a>
            <a href="/mereInfo" class="links">Mere info</a>
            <a href="/quiz" class="links">Quiz</a>
            <a href="/tipsOgTricks" class="links">Tips og tricks</a>
            <a href="/samarbejdsPartnere" class="links">Samarbejdspartnere</a>
            <a href="/links" class="links">Nyttige links</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 60px">Samarbejdspartnere</h>
            <h2>Too Good To Go</h2>
            <p>Too Good To Go's mission er at inspirere og give alle mulighed for at gøre en forskel i kampen mod madspild. Vi ved, at hvis man skal leve efter det hver dag, skal vi gøre vores ord til handlinger. Med det i mente har vi sat vores nye ambition: At bidrage så meget som muligt til at skabe den globale bevægelse mod madspild.

                Det er kun, når vi står sammen i kampen mod madspild, at vi kan skabe en positiv forandring. Af den årsag har vi besluttet at arbejde intensivt på 4 søjler, hvorfra vi har sat mål, vi vil nå inden 2020: husholdninger, forretninger, uddannelse og politik.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KGkeRpXNHSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>




    </div>
    <div class="footer">
        <p>Footer</p>
    </div>

</div>

</body>
</html>