<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <img src="redMadenHjørne.png" style="width:15%; height: auto;padding: 10px">

        <div>
            <img src="overskrift2.jpg" style="width:60%; height: auto; padding-top: 20px; padding-bottom: 30px; padding-left: 200px">
        </div>
    </div>
    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">Forside</a>
            <a href="google.com" class="links">Mere info</a>
            <a href="google.com" class="links">Quiz</a>
            <a href="/tips" class="links">Tips og tricks</a>
            <a href="google.com" class="links">Samarbejdspartnere</a>
            <a href="google.com" class="links">Nyttige links</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 60px">Tips og tricks</h>
            <h3></h3>
            <p></p>
        </div>




    </div>

</div>

</body>
</html>