<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips of tricks</title>
    <link rel="stylesheet" href="Stylesheet.css">
</head>
<body>
<div class="bg">
    <div class="contentHeader">
        <div style="width: 20%; padding: 30px 50px 30px 50px">
            <img src="RM topLeftLogo.png" style="height: 100%; width: 100%; object-fit: contain">
        </div>
        <div style="width: 80%; padding: 60px 50px 60px 30px">
            <img src="RM TopHeader.jpeg" style="height: 100%; width: 100%; object-fit: contain">
        </div>
    </div>

    <div class="contentBody">
        <div class="contentLeft">
            <a href="/" class="links">FORSIDE</a>
            <a href="/mereInfo" class="links">MERE INFO</a>
            <a href="/quiz" class="links">QUIZ</a>
            <a href="/tipsOgTricks" class="links">TIPS</a>
            <a href="/samarbejdsPartnere" class="links">PARTNERE</a>
            <a href="/nyttigeLinks" class="links">NYTTIGE LINKS</a>
        </div>
        <div class="contentRight">
            <h style="font-size: 60px;">Her er 7 tips til at minimere madspild</h>

            <h3>1. Hold øje med, hvor meget mad du smider ud</h3>
            <p>For at få en idé om, hvor meget mad du egentlig smider ud, kan du prøve at føre dagbog i en uge. Det giver med garanti endnu mere motivation til nye vaner. En lille dagbog i køkkenet er en genial idé.</p>

            <h3>2. Tjek køleskabet, før du køber ind</h3>
            <p>Det er irriterende at købe dobbelt ind, fordi man ikke lige har fået tjekket, hvad der er i køleskabet. Det øger også risikoen for madspild, fordi du pludselig har mere mad, end du har brug for. Husk derfor altid at åbne lågen og tjekke indholdet, før du suser i supermarkedet.</p>

            <h3>3. Husk indkøbslisten</h3>
            <p>Indkøbslister er ikke kun nyttige, fordi de sikrer, at vi ikke glemmer noget. De hjælper os også med ikke at købe for meget, hvis vi tvinger os selv til udelukkende at købe varerne på listen.</p>

            <h3>4. Kig på varernes holdbarhed i butikken</h3>
            <p>Køber du ind til aftensmad samme dag, kan du lige så godt vælge varerne med den nærmeste udløbsdato. På den måde hjælper du butikkerne med at undgå madspild, og som en sidegevinst er varerne, der snart udløber, tit sat ned i pris.</p>

            <h3>5. Genopliv triste grøntsager</h3>
            <p>Salatblade og rodfrugter, der er blevet slappe og triste, kan få nyt liv i en skål med iskoldt vand. Lad dem ligge en times tid, og de er så gode som nye og kan uden problemer bruges til aftenens måltid. Det kan helt klart anbefales.</p>

            <h3>6. Lav mad til flere dage</h3>
            <p>Som sagt er der masser af muligheder for at bruge resterne på nye måder dagen efter – så hvorfor ikke lave lidt ekstra, når du alligevel er i gang? Resterne af kyllingen kan f.eks. bruges i en suppe eller salat, og koteletterne bliver til en god omgang biksemad.</p>

            <h3>7. Tag ikke "mindst holdbar til" alt for bogstaveligt</h3>
            <p>Der er en grund til, at producenterne skriver "mindst holdbar til". De fleste fødevarer kan holde sig længere end til den anførte dato, så kig, lugt og smag - maden kan sagtens være god flere dage efter, at den er udløbet.</p>

        </div>

    </div>


    <footer>

    </footer>
</div>

</body>
</html>